<header>
  <div class="container">
    <div class="header__top">
      <div class="header__hotline">
        <div class="">Hotline:
          <span class="header__hotline-phone phone">01235</span>
        </div>
        <div class="">Hotline phát hành:  <span class="header__hotline-phone phone__producer">
      0123123123
    </span></div>
        <a href="" class="header__subscribe">Đặt mua báo</a>
      </div>
      <div class="header__social">
        <a href="" class="social__send">
          <i class="fas fa-paper-plane social__icon"></i>
          <span>Gửi tin bài</span>
        </a>
        <a href="" class="social__youtube">
          <i class="fab fa-youtube social__icon"></i>
        </a>
        <a href="" class="social__facebook">
          <i class="fab fa-facebook social__icon"></i>
        </a>
        <a href="" class="social__zalo">
          <img src="https://sp.zalo.me/static/follow/images/logo_white_s_2x.png" alt="" class="social__icon">
        </a>
        <a href="" class="social__rss">
          <img src="https://static.mediacdn.vn/nld/web_images/rss.jpg" alt="">
        </a>
      </div>
    </div>
    <div class="header__content">
      <div class="header__logo logo">
        <a href="" class="header__logo-img logo__img">Người lao động</a>
      </div>
      <div class="header__topics">
        <ul class="topics__list">
          <li class="topics__item" *ngFor="let topic of topics">
            <a [href]="topic.link" class="topics__link">
              {{topic.title}}
              <i class="fas fa-search-dollar topics__icon"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="header__menu">
    <div class="container">
      <div class="menu menu__header">
        <app-menu [isMenuTop]="true"></app-menu>
      </div>
    </div>

  </div>
  <div class="header__ads">
    <div class="ads">
      <div class="ads__box">
        <a href="" class="ads__link"></a>
      </div>
    </div>
  </div>
</header>
